﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="text-center">
        @ViewBag.Greeting world!
        
        <p>We're going to have a party</p>
        
        <div class="btn btn-success">
            @Html.ActionLink("Respond now", "Respond")
        </div>
    </div>
</body>
</html>