﻿@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Respond</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Your Name:</label>
                    @Html.TextBoxFor(x => x.Name, new {@class = "form-control", data_dwight = "test"})
                </div>
                <p>Your email: @Html.TextBoxFor(x => x.Email)</p>
                <p>Your phone: @Html.TextBoxFor(x => x.PhoneNumber)</p>
                <p>
                    Will you attend?
                    @Html.DropDownListFor(
                        x => x.WillAttend,
                        new[]
                        {
                            new SelectListItem {Text = "I'm coming", Value = bool.TrueString},
                            new SelectListItem {Text = "Nope, won't come", Value = bool.FalseString}
                        },
                        "Choose an option")
                </p>
                <input type="submit" value="Send"/>
            }
        </div>
    </div>
</body>
</html>
