﻿@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div>
        <h1>Thank you, @Model.Name!</h1>
        
        @if (Model.WillAttend)
        {
            @:It's great that your coming, sending a mail to @Model.Email
        }
        else
        {
            @:So sorry that you're not coming.
        }
    </div>
</body>
</html>
