﻿@using RazorFun.Models
@model Product[]

@{
    ViewBag.Title = "DemoArray";
}

@if (Model.Length > 0)
{
    <table>
        <tbody>
        @foreach (Product p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>€@p.Price</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h2>No products!</h2>
}