﻿@model RazorFun.Models.Product

@{
    ViewBag.Title = "DemoExpression";
}

<table>
    <tbody>
    <tr><td>Name</td><td>@Model.Name</td></tr>
    <tr><td>Price</td><td>@Model.Price</td></tr>
    <tr>
        <td>Stock Level</td>
        <td>
            @switch ((int) ViewBag.ProductCount)
            {
                case 0:
                    @: Out of stock
                    break;
                case 1:
                    <b>Low Stock (@ViewBag.ProductCount)</b>
                    break;
                default:
                    @ViewBag.ProductCount
                    break;
            }

        </td>
    </tr>
    </tbody>
</table>

ApplyDiscount:<input type="checkbox" checked="@ViewBag.ApplyDiscount" />
ExpressShip:<input type="checkbox" checked="@ViewBag.ExpressShip" />
